




<form action="/Produto/Adiciona" method="post">

    <label for="nome ">Nome:</label>
    @Html.ValidationMessage("produto.Nome")
    <input name="produto.Nome" value="@ViewBag.Produto.Nome" class="form-control" />

    <label for="Preco ">Preco:</label>
    @Html.ValidationMessage("produto.Invalido")
    <input id="preco" name="produto.Preco" class="form-control" value="@ViewBag.Produto.Preco"/>

    <label for="quantidade">Quantidade:</label>
    <input id="quantidade" name="produto.Quantidade" class="form-control" value="@ViewBag.Produto.Quantidade"/>

    <label for="descricao">Descricao:</label>
    <input id="descricao" name="produto.Descricao" class="form-control" value="@ViewBag.Produto.Descricao"/>

    <label for="categoria">Categoria:</label>
    <select id="categoria" name="produto.CategoriaId" class="form-control">
        @foreach (var categoria in ViewBag.Categorias)
        {
            <option value="@categoria.Id" selected="@categoria.Id.Equals(ViewBag.Produto.CategoriaId)">@categoria.Nome</option>
        }
    </select>
    <br />
    <input type="submit" value="Cadastrar" class="form-control btn btn-primary" />
</form>
    